.footer{
    height: 7%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 45, 45);
}

p{
    color: rgb(143, 136, 136);
    margin: 0;
    font-size: 1rem;
    border: 1px solid rgb(58, 57, 57);
    padding: 0 8%;
    border-radius: 20px;
}