<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      
       <mat-nav-list class="nav-list">

        <a mat-list-item routerLink="/">
            <i class="material-icons">home</i>Home
        </a>
        <a mat-list-item routerLink="technical">
            <i class="material-icons">work</i>Technical
        </a>
        <a mat-list-item routerLink="clients">
            <i class="material-icons">person_search</i>Client
        </a>
        <a mat-list-item >
            <i class="material-icons">person_pin</i>Order service
        </a>

       </mat-nav-list>

    </mat-drawer>
  
    
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>
            more_vert
        </mat-icon>
        
      </button>
        <router-outlet>
            

        </router-outlet>
  
  </mat-drawer-container>
  